:root {
  --font-color: #000;
  --night-font-color: #ddd;
  --primary: #b2fefa;
  --secondary: #0ed2f7;
  --dark: #0052d4;
  --gradient-light: #5d9eea;
  --gradient-middle: #0f27b5;
  --gradient-dark: #100e17;
  --code-gradient-light: #cff0ff;
  --code-gradient-dark: #afcafd;
  --maxwidth: 1284px;
}
.gradient-text {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
.gradient-bg {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
}
.gradient-bg-rev {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--dark), var(--secondary), var(--primary)) !important;
  background: linear-gradient(to right, var(--dark), var(--secondary), var(--primary)) !important;
}
pre code .language-mark {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: 900;
  color: var(--secondary);
  z-index: 5;
  text-transform: uppercase;
  font-family: Rubik, Lato, lucida grande, lucida sans unicode, Tahoma, 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
  font-size: 0.6rem;
  background: rgba(16,14,23,0.36);
  border-radius: 8px;
  padding: 0 0.8em;
}
pre code .language-mark b {
  position: relative;
  top: 2px;
  left: 0;
}
.language-mark[ref="css"] {
  color: #ff8a00;
}
.language-mark[ref="scss"] {
  color: #ff8a00;
}
.language-mark[ref="html"] {
  color: #4caf50;
}
.language-mark[ref=JSX] {
  color: #03a9f4;
}
.language-mark[ref=JavaScript] {
  color: #03a9f4;
  color: #ff79c6;
}
.language-mark[ref=jQuery] {
  color: #03a9f4;
  color: #ff79c6;
}
.language-mark[ref=php] {
  color: #ff79c6;
}
.CodeMirror {
  height: auto !important;
  overflow: hidden;
  border-radius: 8px;
}
.CodeMirror .CodeMirror-gutters,
.CodeMirror .CodeMirror-linenumber {
  background: #201c29 !important;
  padding: 0 3px 0 15px;
}
.CodeMirror .CodeMirror-scroll {
  padding: 55px 30px 60px 10px !important;
}
.CodeMirror.cm-s-dracula {
  height: 100%;
  width: 100%;
}
.CodeMirror .CodeMirror-lines {
  font-size: 0.8rem;
  font-family: Rubik, Lato, lucida grande, lucida sans unicode, Tahoma, 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
}
/* Responsive style */
body {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  background: #100e17;
  font-family: 'Rubik', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif !important;
  font-weight: 700;
  position: relative;
  overflow-x: hidden;
  font-size: 1em;
  color: var(--font-color);
  line-height: 2;
}
body .loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 600ms linear;
  opacity: 0;
  z-index: 1000;
  background: #100e17;
}
body .loader > .la-ball-atom {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: 600;
  background: #b2fefa !important;
  background: -webkit-linear-gradient(to right, #b2fefa, #0ed2f7, #0052d4) !important;
  background: linear-gradient(to right, #b2fefa, #0ed2f7, #0052d4) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  background: #fff !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  background: #100e17;
}
body.loading {
  background: #100e17;
  height: 100%;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}
body.loading .loader {
  opacity: 1;
}
body.loading #container {
  opacity: 0;
}
body.loading #single {
  opacity: 0;
}
body.loading .nav {
  opacity: 0;
}
html.loading {
  background: #100e17;
  height: 100%;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}
a {
  text-decoration: none;
  color: var(--secondary);
}
a:hover {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
audio {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}
::-moz-selection {
  background: #9c27b0;
  color: #fff;
}
::selection {
  background: #9c27b0;
  color: #fff;
}
#screen {
  z-index: 1;
  position: relative;
  background: #100e17;
  border-bottom-right-radius: 200px;
}
#screen .cover {
  position: absolute;
  top: 0;
  left: 30%;
  width: 1200px;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.85;
}
#mark {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-bottom-right-radius: 200px;
}
.layer {
  position: relative;
}
#cover {
  position: absolute;
  max-width: none;
}
#header {
  position: fixed;
  top: 0;
  padding-top: 70px;
  padding-bottom: 20px;
  width: 100%;
  z-index: 4;
  transition: all 450ms ease-in-out;
}
#header > div {
  margin: 0 60px;
  position: relative;
  z-index: 10;
}
#header .la-ball-atom {
  float: left;
  margin-right: 10px;
  animation-delay: 1.6s;
  animation-duration: 800ms;
}
.la-ball-atom {
  color: #64d6e2 !important;
}
.la-ball-atom > div:nth-child(1) {
  color: var(--dark);
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
}
.icon-cross {
  display: none;
  animation-delay: 800ms;
  animation-duration: 1s;
  font-size: 28px;
  padding: 6px 6px 5px;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  margin-top: -15px;
  background: #000;
  transition: display 400ms ease-in-out;
}
.icon-menu {
  display: none;
  animation-delay: 800ms;
  animation-duration: 1s;
  font-size: 38px;
  padding: 6px 6px 5px;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  margin-top: -28px;
  background: #000;
  transition: display 400ms ease-in-out;
}
.logo {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 32px;
  animation-delay: 800ms;
  animation-duration: 1.2s;
}
.logo img {
  display: flex;
  width: 32px;
  height: 32px;
}
.logo .image-logo {
  margin-left: 0.5rem;
  z-index: 10;
  position: relative;
  display: flex;
  -webkit-background-size: 75px 32px;
  -moz-background-size: 75px 32px;
  background-size: 75px 32px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-mask-box-image: url("/img/logo.png");
  width: 75px;
  height: 32px;
  mask-image: url("/img/logo.png");
  mask-size: contain;
  transition: background-color 0.5s ease-in-out;
}
img.spin {
  animation-delay: 0;
  animation-name: spin;
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
}
.screen-gradient-after {
  background: -webkit-gradient(linear, left top, right top, from(var(--primary)), to(var(--gradient-dark)));
  background: linear-gradient(to right, var(--primary), var(--dark), var(--gradient-middle), var(--gradient-dark));
  position: relative;
  z-index: 0;
  border-bottom-right-radius: 180px;
  -webkit-animation: GradientEffect 1.2s ease infinite;
  -moz-animation: GradientEffect 1.2s ease infinite;
  animation: GradientEffect 1.2s ease infinite;
}
.screen-gradient-content {
  padding: calc(200px + 1rem) 10% 0;
  margin-top: -200px;
  overflow: hidden;
}
@-webkit-keyframes GradientEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes GradientEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.screen-gradient-inside {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.bold-underline-links {
  font-weight: 900;
  color: #fff;
}
.screen-gradient-sponsor {
  white-space: nowrap;
  transition: all 400ms ease-in-out;
}
.screen-gradient-sponsor p {
  font-weight: 900;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  margin-bottom: 1rem;
  max-width: 1200px;
}
body.fixed {
  overflow: hidden;
  height: 100%;
}
body.fixed.clear-fixed {
  overflow: auto;
  height: initial;
}
body.mu {
  overflow: hidden;
  height: 100%;
}
body.mu .icon-cross {
  color: #333;
  background: none;
}
body.mu .nav {
  top: 0;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
body.mu .nav:before {
  top: 0;
}
body.mu .icon-logo {
  color: #333;
}
#vibrant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#vibrant div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #100e17;
}
.background-mask {
  position: absolute;
  top: 100px;
  left: 0;
}
#post0 {
  width: 80%;
  position: absolute;
  top: 165px;
  left: 10%;
}
#post0 > p:first-of-type {
  margin: 0;
}
#pager {
  text-align: center;
  margin: 70px 0 0;
  position: relative;
}
#pager a {
  font-size: 16px;
  letter-spacing: 5px;
  border: 5px solid rgba(255,255,255,0.46);
  border-radius: 10px;
  padding: 10px 40px;
  background: #100e17;
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
#loader {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3px;
  z-index: 100;
  background-image: -webkit-linear-gradient(left, #f16f5c 0%, #f16f5c 12.5%, #5b56dd 12.5%, #5b56dd 25%, #e15ced 25%, #e15ced 37.5%, #27e559 37.5%, #27e559 50%, #18c8c9 50%, #18c8c9 62.5%, #dc8987 62.5%, #dc8987 75%, #bb83d6 75%, #bb83d6 87.5%, #e774bd 87.5%, #e774bd 100%);
  background-image: -moz-linear-gradient(left, #f16f5c 0%, #f16f5c 12.5%, #5b56dd 12.5%, #5b56dd 25%, #e15ced 25%, #e15ced 37.5%, #27e559 37.5%, #27e559 50%, #18c8c9 50%, #18c8c9 62.5%, #dc8987 62.5%, #dc8987 75%, #bb83d6 75%, #bb83d6 87.5%, #e774bd 87.5%, #e774bd 100%);
}
#top {
  height: 50px;
  text-align: center;
  background: #100e17;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: none;
  border-bottom: 1px solid #201c29;
  transition: all 350ms ease-in-out;
  box-shadow: 0 0 30px #000;
}
#top .count {
  display: none;
}
body.touch {
  margin-top: 0;
}
body.touch .article {
  margin-top: 0;
}
.icon-icon {
  color: #fff;
  font-size: 20px;
  position: absolute;
  left: 14px;
  top: 16px;
}
.image-icon,
.icon-home {
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.image-icon {
  top: 10px;
}
.icon-home {
  top: 14px;
}
.subtitle {
  background: #b2fefa !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  margin-top: 12px;
  display: none;
  transition: display 400ms ease-in-out;
  max-width: 50%;
  max-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.icon-play {
  position: absolute;
  left: 70px;
  top: 10px;
  font-size: 15px;
  cursor: pointer;
  background: #b2fefa !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
  transition: display 400ms ease-in-out;
  animation-delay: 800ms;
  animation-duration: 1.2s;
}
.icon-pause {
  position: absolute;
  left: 68px;
  top: 8px;
  font-size: 17px;
  cursor: pointer;
  font-weight: 300;
  background: #b2fefa !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
  transition: display 400ms ease-in-out;
  animation-delay: 800ms;
  animation-duration: 1.2s;
}
.icon-images {
  position: absolute;
  top: 17px;
  font-size: 18px;
  cursor: pointer;
  background: #b2fefa !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
  left: 100px;
  animation-delay: 800ms;
  animation-duration: 1.2s;
}
.icon-share1 {
  animation-delay: 800ms;
  animation-duration: 1.2s;
}
.icon-images.active {
  color: #ef6d57;
}
.like-icon {
  position: relative;
}
.icon-like {
  color: #666;
}
.icon-like:hover {
  color: #ef6d57;
}
.icon-like:before {
  content: "\e602";
}
.likeThis.active .icon-like {
  color: #ef6d57;
}
.social {
  position: absolute;
  right: 0;
  height: 30px;
  top: 4px;
}
.social > div {
  display: inline-block;
  font-size: 20px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}
.share {
  position: relative;
  animation-delay: 800ms;
  animation-duration: 1.2s;
}
.share > a {
  display: inline-block;
  margin-right: 15px;
  background: #b2fefa !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
.share > a:hover {
  color: #333;
}
.share .share-component {
  position: absolute;
  display: flex;
  top: 38px;
  right: 5px;
  background: #100e17;
  border-radius: 0 0 16px 16px;
  padding: 0.6em 1.6em;
  box-shadow: 0 0 30px rgba(16,14,23,0.3);
  border-bottom: 1px solid #201c29;
  border-left: 1px solid #201c29;
  border-right: 1px solid #201c29;
  z-index: 1 !important;
  opacity: 0;
  transition: all 400ms ease-in-out;
}
.share .share-component a {
  display: block;
}
.share .share-component .icon-wechat .wechat-qrcode {
  top: 50px;
}
.share .share-component .icon-wechat .wechat-qrcode:after {
  top: -15px;
  border-color: transparent transparent #fff transparent;
}
#qr {
  z-index: 10;
  display: none;
  position: absolute;
  background: #fff;
  padding: 16px;
  border: 1px solid #f7f7f7;
  right: 10px;
  top: 50px;
}
.bar {
  position: absolute;
  height: 100%;
  background: #b2fefa !important;
  background: -webkit-linear-gradient(to right, var(--dark), var(--secondary), var(--primary)) !important;
  background: linear-gradient(to right, var(--dark), var(--secondary), var(--primary)) !important;
  z-index: -1;
  width: 0;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  opacity: 0.25;
}
.scrollbar {
  position: fixed;
  height: 4px;
  width: 10px;
  top: 0;
  background-color: #50bcb6;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  transition: width 0.5s ease;
  z-index: 11;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #100e17;
  border-left: 1px solid #201c29;
}
::-webkit-scrollbar-thumb {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(var(--secondary), var(--dark)) !important;
  background: linear-gradient(var(--secondary), var(--dark)) !important;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.nav {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(16,14,23,0.8);
  backdrop-filter: blur(5px);
  z-index: 3;
  top: -100%;
  -webkit-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0 30px #000;
}
.nav .menu a {
  color: #333;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
.nav p {
  color: #ddd;
  font-size: 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30px;
}
.nav p a {
  color: #ddd;
  text-decoration: underline;
}
.nav p:first-letter {
  font-family: sans-serif;
}
html.mu {
  height: 100%;
}
footer {
  width: 100%;
  background: #100e17;
  border-top: 1px solid #201c29;
}
footer p {
  width: 70%;
  margin: 0 auto;
  color: #5d5d5d;
  text-align: center;
  padding: 5px;
  font-size: 12px;
}
footer p:first-of-type {
  padding-top: 20px;
}
footer p:last-of-type {
  padding-bottom: 20px;
}
footer .copyright {
  width: 70%;
  margin: 0 auto;
  color: #999;
  text-align: center;
  font-size: 16px;
}
footer .copyright a {
  color: #fff;
  border-bottom: 1px solid var(--dark);
}
.search-box {
  content: "";
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 76%;
  z-index: 3;
  background: rgba(16,14,23,0.88);
  border-radius: 18px;
  box-shadow: 0 10px 50px #100e17;
  border: 5px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
  display: none;
}
.search-box .search-scrollable {
  width: 100%;
  max-height: 75vh;
  border-radius: 16px;
  overflow: hidden auto;
}
.search-box .search-scrollable .local-search-result-cls {
  font-size: 1rem;
  color: #ddd;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem 3rem;
}
.search-box .search-scrollable .local-search-result-cls .search-icon {
  margin: 0 auto;
  padding-top: 1rem;
  transition: all 400ms ease-in-out;
}
.search-box .search-scrollable .local-search-result-cls .search-result-title {
  font-size: 1.8rem;
  font-weight: 700;
  position: relative;
}
.search-box .search-scrollable .local-search-result-cls .search-result-title:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 70%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background: var(--secondary);
  opacity: 0.3;
}
.search-box .search-scrollable .local-search-result-cls .search-result-title:hover {
  color: var(--secondary);
}
.search-box .search-scrollable .local-search-result-cls .search-result-title:hover:after {
  top: 0;
}
.search-box .search-scrollable .local-search-result-cls .search-result {
  padding: 1rem 0 3rem 0;
  font-size: 1rem;
}
.search-box .search-scrollable .local-search-result-cls .search-result .search-keyword {
  background: rgba(99,99,99,0.07);
  background: #b2fefa;
  background: -webkit-linear-gradient(to right, var(--code-gradient-light), var(--code-gradient-dark));
  background: linear-gradient(to right, var(--code-gradient-light), var(--code-gradient-dark));
  color: #000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 8px;
  opacity: 0.9;
}
.search-box .search-scrollable .local-search-result-cls #local-search-close {
  position: absolute;
  right: 10%;
  top: 0;
  font-size: 1.4rem;
  line-height: 52px;
  height: 52px;
  z-index: 4;
  text-indent: -9999px;
}
.search-box .search-scrollable .local-search-result-cls #local-search-close:before {
  content: "CLEAR";
  position: absolute;
  top: 0;
  right: 0;
  text-indent: initial;
  z-index: 4;
  cursor: pointer;
}
.search-box .search-scrollable .local-search-result-cls .search-result-list {
  padding-top: 0.8rem;
}
.search-box .site-search-form {
  width: 100%;
  height: 50px;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  flex-direction: row;
  background: rgba(16,14,23,0.8);
  backdrop-filter: blur(5px);
  z-index: 3;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.search-box .site-search-form .icon-search {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 1.5rem;
  color: #ddd;
  box-sizing: border-box;
}
.search-box .site-search-form input {
  height: 52px;
  width: 90%;
  background: rgba(40,36,47,0.86);
  border: none;
  display: flex;
  padding: 0.5em 1em 0.5em 2em;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: #ddd;
  border-bottom: 2px solid #ddd;
  transition: all 200ms ease-in-out;
  border-top-left-radius: 16px;
}
.search-box .site-search-form input:focus {
  outline: none;
  border-bottom: 2px solid var(--secondary);
}
.search-box .site-search-form div {
  margin: 0;
  width: 10%;
  height: 52px;
  display: flex;
  background: rgba(40,36,47,0.86);
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  position: relative;
  border-top-right-radius: 16px;
}
.search-box .site-search-form div.icon-cross:before {
  position: absolute;
  top: -3px;
  color: #ddd;
  opacity: 0.3;
  transition: opacity 400ms ease-in-out;
}
.search-box .site-search-form div:hover.icon-cross:before {
  color: var(--secondary);
  opacity: 1;
}
.menu {
  display: inline-flex;
  position: absolute;
  height: 32px;
  right: 0;
  top: 0;
}
.menu li {
  animation-delay: 600ms;
  animation-duration: 1.2s;
  display: flex;
  flex-direction: row-reverse;
  font-size: 24px;
  line-height: 32px;
  margin: 0 20px 20px 0;
}
.menu li.search-bar {
  position: relative;
  top: 1px;
  color: #ddd;
  height: 26px;
  width: 110px;
  background: transparent;
  border-radius: 2em;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.menu li.search-bar:hover {
  border: 2px solid var(--secondary);
  background: rgba(40,36,47,0.86);
}
.menu li.search-bar:hover:after {
  opacity: 1;
}
.menu li.search-bar.icon-search:before {
  position: absolute;
  top: -2px;
  left: 15px;
  font-size: 0.9rem;
  opacity: 1;
  font-weight: 400;
}
.menu li.search-bar:after {
  position: absolute;
  top: -2px;
  left: 36px;
  content: "SEARCH";
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: 700;
}
.menu a {
  color: #666;
  letter-spacing: 2px;
  background: rgba(255,255,255,0.96);
  opacity: 0.86;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
  height: 32px;
  line-height: 32px;
}
.menu a:hover {
  color: #333;
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
#back-to-top {
  position: fixed;
  bottom: 80px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(32,28,41,0.86);
  color: #fff;
  text-align: center;
  line-height: 50px;
  z-index: 11;
  font-size: 14px;
  display: none;
  border: 4px solid rgba(32,28,41,0.26);
  box-shadow: 0 0 30px rgba(16,14,23,0.46);
  cursor: pointer;
  overflow: hidden;
}
#back-to-top .flow {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 12;
  background: rgba(32,28,41,0.86);
  transition: all 500ms linear;
  border: 4px solid rgba(255,255,255,0.26);
}
#back-to-top .flow::before,
#back-to-top .flow::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  left: 50%;
  background: var(--primary) !important;
  background: -webkit-linear-gradient(var(--dark), var(--secondary)) !important;
  background: linear-gradient(var(--dark), var(--secondary)) !important;
  opacity: 0.4;
  border-radius: 45%;
  transform: translate(-50%, -70%) rotate(0);
  animation: rotate 6s linear infinite;
  z-index: 10;
}
#back-to-top .flow::after {
  border-radius: 47%;
  background: var(--primary) !important;
  background: -webkit-linear-gradient(var(--dark), var(--secondary)) !important;
  background: linear-gradient(var(--dark), var(--secondary)) !important;
  opacity: 0.9;
  transform: translate(-50%, -70%) rotate(0);
  animation: rotate 10s linear -5s infinite;
  z-index: 20;
}
#back-to-top span {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 900;
  transition: all 300ms ease-in-out;
  z-index: 13;
}
#back-to-top .iconfont {
  display: none;
  font-size: 28px;
}
#back-to-top:hover .percentage {
  display: none;
}
#back-to-top:hover .iconfont {
  display: block;
}
@-moz-keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}
.category-mask {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(16,14,23,0.8);
  z-index: 4;
  display: none;
  backdrop-filter: blur(5px);
}
.category-list {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.category-list .category-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #201c29;
  margin: calc(28.87px + 1rem) 1rem;
  transition: all 500ms ease-in-out;
}
.category-list .category-list-item.active {
  z-index: 11;
}
.category-list .category-list-item.active .category-list-child:before {
  content: "";
}
.category-list .category-list-item:hover:before {
  border-top: solid 5.2426px var(--secondary);
  border-right: solid 5.2426px var(--secondary);
}
.category-list .category-list-item:hover:after {
  border-bottom: solid 5.2426px var(--secondary);
  border-left: solid 5.2426px var(--secondary);
}
.category-list .category-list-item .category-list-link {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  color: var(--secondary) !important;
  font-weight: 600;
  border-bottom: none;
  padding: 0;
  transition: all 500ms ease-in-out;
}
.category-list .category-list-item .category-list-link:after {
  display: none;
}
.category-list .category-list-item .category-list-count {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.6rem;
  color: #fff;
}
.category-list .category-list-item:before,
.category-list .category-list-item:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 11.6447px;
  transition: all 250ms ease-in-out;
}
.category-list .category-list-item:before {
  top: -35.3553px;
  border-top: solid 3.2426px var(--secondary);
  border-right: solid 3.2426px var(--secondary);
}
.category-list .category-list-item:after {
  bottom: -35.3553px;
  border-bottom: solid 3.2426px var(--secondary);
  border-left: solid 3.2426px var(--secondary);
}
.category-list .category-list-item .category-list-child {
  position: absolute;
  top: 95%;
  left: 50px;
  display: flex;
  flex-direction: column;
}
.category-list .category-list-item .category-list-child:before {
  content: "···";
  position: relative;
  bottom: 0;
  left: 3%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  z-index: 2;
  letter-spacing: 0.2rem;
}
.category-list .category-list-item .category-list-child:before:hover {
  color: var(--dark);
}
.category-list .category-list-item .category-list-child .category-list-item {
  position: relative;
  display: none;
  z-index: 5;
  transition: all 1.2s ease-in-out;
  margin: calc(28.87px + 0.7rem) 0.7rem;
}
.category-list .category-list-item .category-list-child .category-list-item.sub-active {
  display: flex;
  z-index: 11;
}
.clone-element {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  display: none;
  z-index: 3;
  padding-left: 30px;
}
.clone-element h1 {
  font-size: 56px;
  color: var(--secondary);
}
.set {
  position: relative;
  display: block;
  max-width: 1200px;
  min-height: calc(100vh - 181px - 4rem);
  margin: 0 auto 30px;
  line-height: 2;
  padding-left: 30px;
}
.set h1 {
  font-size: 56px;
  color: var(--secondary);
}
.set h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 15px 0 20px;
}
.set a {
  display: inline-block;
  position: relative;
  color: #424242;
  padding: 5px 5px;
}
.set a::before {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #2196f3;
}
.set a:hover {
  color: #2196f3 !important;
}
.set .tagcloud a {
  transition: all 400ms linear;
  border: 3px solid rgba(40,36,47,0.86);
  border-radius: 2em;
  background: rgba(16,14,23,0.56);
  padding: 0.2rem 0.85rem 0.25rem;
  margin: 0.33rem 0.66rem 0.33rem 0;
  cursor: pointer;
  font-weight: 800;
}
.set .tagcloud a:hover {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
  border: 3px solid rgba(255,255,255,0.7);
}
.set .tagcloud a:after {
  display: none;
}
.set .tag-list-item {
  display: flex;
  font-size: 17px;
  margin: 10px 20px;
  border: 3px solid var(--secondary);
  border-radius: 8px;
}
.set .tag-list-item .tag-list-count {
  color: #9e9e9e;
  font-style: normal;
}
.set .tag-list-item .tag-list-count::before {
  content: "[";
}
.set .tag-list-item .tag-list-count::after {
  content: "]";
}
.timeline {
  position: relative;
  z-index: 2;
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
  color: var(--secondary) !important;
  margin-top: 0;
}
.timeline h1 a:after,
.timeline h2 a:after,
.timeline h3 a:after,
.timeline h4 a:after,
.timeline h5 a:after,
.timeline h6 a:after {
  display: none;
}
.timeline div {
  list-style: none;
  box-sizing: border-box;
}
.timeline li:before {
  display: none;
}
.timeline-item {
  padding-left: 40px;
  position: relative;
  list-style: none;
  margin: 0;
}
.timeline-item:last-child {
  padding-bottom: 0;
}
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
.timeline-title {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  color: var(--secondary) !important;
  font-weight: 900;
  padding: 0 !important;
}
.timeline-title:after {
  display: none;
}
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: var(--secondary);
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  box-sizing: border-box;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #ccd5db;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
  box-sizing: border-box;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
  box-sizing: border-box;
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid var(--secondary);
}
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #ccd5db;
  border-bottom: 3px solid #ccd5db;
  box-sizing: border-box;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
  box-sizing: border-box;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}
@media (min-width: 768px) {
  .timeline-split .timeline,
  .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item,
  .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info,
  .timeline-centered .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info,
  .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info,
  .timeline-centered .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title,
  .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
    box-sizing: border-box;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}
#container {
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
  background: #100e17;
}
#primary {
  position: relative;
}
#single {
  background: #100e17;
  position: relative;
}
.section {
  position: relative;
  width: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  background: #fff;
}
.dark-obsidian.section {
  min-height: calc(100vh - 151px) !important;
  background: #100e17;
}
.dark-obsidian {
  background: #100e17;
}
.dark-obsidian .article {
  background: transparent;
  position: relative;
  z-index: 1;
  animation-delay: 300ms;
  animation-duration: 600ms;
}
.dark-obsidian .article:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.85;
  background-image: radial-gradient(ellipse closest-side, rgba(0,0,0,0.46), #100e17), url("/img/cover.jpg");
  z-index: -1;
  animation-delay: 900ms;
  animation-duration: 1.2s;
}
.dark-obsidian .article .main {
  display: block;
  animation-delay: 300ms;
  animation-duration: 600ms;
}
.dark-obsidian .article .main .content {
  color: #c2c2c2;
  font-weight: 800;
}
.dark-obsidian .article .main .content > h4 {
  color: #fff;
  font-weight: 900;
}
.dark-obsidian .article #vcomments {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  background: rgba(32,28,41,0.75);
  box-shadow: 0 0 30px rgba(16,14,23,0.25);
  border-radius: 16px;
  margin-bottom: 4rem;
}
.dark-obsidian .article #vcomments:before {
  content: "";
  background: rgba(32,28,41,0.75);
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding-bottom: 4rem;
  z-index: -1;
  display: none;
}
.zoom:before {
  opacity: 0;
  color: #fff;
  font-size: 20px;
  display: block;
  z-index: 3;
  left: 50%;
  top: 70%;
  padding: 5px;
  margin-top: -15px;
  margin-left: -15px;
  position: absolute;
  background: rgba(0,0,0,0.7);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.zoom:hover:before {
  opacity: 1;
  top: 50%;
}
.touch .zoom:hover:before {
  opacity: 0;
}
.icon-arrow-left:before {
  content: '\e606';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -30px;
  color: #666;
}
.icon-arrow-right:before {
  content: '\e605';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -30px;
  color: #666;
}
h1.title {
  font-size: 30px;
  color: #333;
  line-height: 1.3;
  position: relative;
  font-weight: bold;
}
.page .content:before {
  display: none;
}
.page .main {
  padding: 0px;
}
.stuff {
  margin-top: 20px;
  color: #666;
  font-size: 13px;
}
.stuff span {
  display: inline-block;
  margin-right: 20px;
}
.stuff .likeThis {
  pointer-events: none;
}
.stuff .icon-like {
  display: none;
}
.stuff .count {
  color: #666;
}
.comment {
  margin: 50px auto;
}
.comment .gt-comments-null {
  display: none;
}
.comment .gt-header-textarea {
  border-radius: 0;
  background: #fff;
}
.comment .gt-popup {
  margin-top: 8px;
}
.comment .gt-counts a {
  color: #000;
  border-bottom: 0;
  pointer-events: none;
}
.comment .gt-avatar-github {
  display: none;
}
.comment .gt-header-avatar {
  display: none;
}
.comment .gt-header-comment {
  margin-left: 0;
}
.comment .gt-header-preview {
  border-radius: 0;
}
.comment .gt-btn-public {
  border-radius: 0;
}
.comment .gt-btn-public .gt-btn-text:after {
  content: "（Cmd | Ctrl  + Enter）";
}
.comment .gt-btn-preview {
  border-radius: 0;
}
.comment .gt-btn-login {
  border-radius: 0;
}
.comment .gt-ico-tip {
  display: none;
}
.comment .gt-meta {
  margin: 0;
  border: 0;
}
.comment.link {
  cursor: pointer;
  letter-spacing: 5px;
  border: 1px solid #dadada;
  width: 170px;
  text-align: center;
  color: #666;
  font-size: 14px;
  padding: 10px 0;
}
.downloadlink {
  cursor: pointer;
  letter-spacing: 5px;
  border: 1px solid #dadada;
  width: 170px;
  text-align: center;
  color: #666;
  font-size: 14px;
  padding: 10px 0;
}
#preview {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #100e17;
  left: 100%;
  -moz-transition: left 0.3s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: left 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: left 0.3s cubic-bezier(0, 0, 0.2, 1);
}
#preview.show {
  left: 0;
}
#preview + canvas {
  display: none;
}
.article {
  padding: 2em 10em;
  margin: 0;
  animation-delay: 400ms;
  animation-duration: 800ms;
}
.article p a {
  color: #232323;
}
.article p a:hover {
  color: var(--dark);
}
.article > div {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.article .main {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 300px;
  grid-gap: 4rem;
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 4rem 0;
}
.article .side {
  align-self: flex-start;
  flex: 0 0 200px;
}
.article .sidebar {
  position: relative;
}
.article .sidebar .box {
  position: relative;
  width: 300px;
  border-radius: 16px;
  background: transparent;
  margin-top: 7rem;
  animation-delay: 800ms;
  animation-duration: 1.2s;
}
.article .sidebar .box:first-of-type {
  margin-top: 0;
}
.article .sidebar .box .subbox {
  position: relative;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(16,14,23,0.25);
  padding: 1rem;
  background: #fff;
}
.article .sidebar .box .subbox dl dd {
  display: block;
  max-width: 100%;
  text-align: center;
  margin-inline-start: 0;
  line-height: 28px;
  transition: all 800ms linear;
}
.article .sidebar .box .subbox dl dd a {
  font-size: 28px;
  line-height: 28px;
  padding-top: 0;
}
.article .sidebar .box .subbox dl dd a:hover {
  color: #100e17;
}
.article .sidebar .box .subbox dl dd a span {
  font-size: 28px;
  line-height: 28px;
  padding-top: 0;
}
.article .sidebar .box .subbox dl dd a span:hover {
  color: #100e17;
}
.article .sidebar .box .subbox dl dd:hover {
  color: #100e17;
}
.article .sidebar .box .subbox dl dd:nth-last-of-type(2) {
  padding-top: 2px;
}
.article .sidebar .box .subbox p {
  width: 100%;
  padding-top: 1rem;
  margin: 0 auto;
  text-align: center;
}
.article .sidebar .box .subbox span {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  color: #9e9e9e;
  font-size: 12px;
}
.article .sidebar .box ul {
  position: relative;
  top: 1.2rem;
  right: -1rem;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  font-weight: 900;
  font-size: 18px;
}
.article .sidebar .box ul li {
  display: block;
  max-width: 100%;
  text-align: center;
  border-right: 1px solid rgba(158,158,158,0.16);
}
.article .sidebar .box ul li a {
  color: var(--dark);
}
.article .sidebar .box ul li:last-of-type {
  border-right: none;
}
.article .sidebar .box ul li p {
  font-size: 16px;
  color: #9e9e9e;
}
.article .sidebar .box img {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.article .sidebar .box:before {
  content: "";
  background: #f5f5f5;
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding-bottom: 4rem;
  z-index: -1;
}
.article .sidebar .box.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: calc(1rem + 61px);
}
.article .sidebar .subbox dl {
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-weight: 900;
  margin-block-start: 1.2em;
  margin-block-end: 0;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
.article .toc {
  width: 100%;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.article .toc .toc-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  background: #9e9e9e !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
.article .toc .toc-item:hover {
  font-weight: 800;
  color: #000;
  background: var(--primary) !important;
  background: -webkit-linear-gradient(25deg, var(--dark), var(--secondary)) !important;
  background: linear-gradient(25deg, var(--dark), var(--secondary)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
.article .toc .toc-item:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: #f5f5f5;
  left: 4px;
  top: 0;
}
.article .toc .toc-item.active {
  font-weight: 800;
  color: #000;
  background: var(--primary) !important;
  background: -webkit-linear-gradient(25deg, var(--dark), var(--secondary)) !important;
  background: linear-gradient(25deg, var(--dark), var(--secondary)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
.article .toc .toc-item.active:before {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--primary) !important;
  background: -webkit-linear-gradient(225deg, var(--secondary), var(--dark)) !important;
  background: linear-gradient(225deg, var(--secondary), var(--dark)) !important;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: 0;
  opacity: 0.6;
}
.article .toc .toc-item.active:after {
  content: "";
  border: 3px solid var(--secondary);
  -webkit-border-radius: 30px;
  height: 20px;
  width: 20px;
  position: absolute;
  left: -8px;
  top: 1px;
  -webkit-animation: pulsate 1.2s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}
.article .toc .toc-item.active .toc-child {
  display: flex;
}
.article .toc .toc-item.active .toc-child:before {
  content: "";
  position: absolute;
  height: calc(100% - 30px);
  width: 2px;
  background: #f5f5f5;
  left: 4px;
  top: 30px;
}
.article .toc .toc-item.active .toc-child .toc-item:before {
  display: none;
}
.article .toc .toc-item.active .toc-child .toc-item.active:before {
  display: none;
}
.article .toc .toc-item.active .toc-child .toc-item.active:after {
  display: none;
}
.article .toc .toc-item .toc-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: calc(100% - 1rem);
  padding: 0.1rem 0 0 1rem;
  max-height: 30px;
}
.article .toc .toc-item .toc-link span {
  display: flex-wrap;
  width: auto;
  flex-grow: 0;
  margin: 0;
  text-align: initial;
  font-size: inherit;
  padding: 0 0.2rem;
  color: #9e9e9e;
}
.article .toc .toc-item .toc-link span.toc-number {
  color: var(--dark) !important;
}
.article .toc .toc-item .toc-link span:nth-of-type(2) {
  flex-grow: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}
.article .toc .toc-item .toc-child {
  width: calc(100% - 1rem);
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  margin-left: 1rem;
  display: none;
}
.article .toc .toc-item .toc-child .toc-child:before {
  display: none;
}
.article #vcomments {
  position: relative;
  margin-top: 4rem;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 30px rgba(16,14,23,0.25);
  border-radius: 16px;
}
.article #vcomments:before {
  content: "";
  background: #f5f5f5;
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding-bottom: 4rem;
  z-index: -1;
}
.article p.image-caption {
  color: #9e9e9e;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}
#vcomments.v .vwrap {
  border: none;
}
.article-header-wrapper {
  width: 100%;
  height: 500px;
  background: #100e17;
  position: relative;
  z-index: 1;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.article-header {
  margin: 50px auto 0 auto;
  max-width: var(--maxWidth);
  top: 50px;
  height: 500px;
  position: relative;
  padding: 0 10em;
}
.article-header .article-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -15%;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.75;
}
.post {
  min-height: 500px;
  width: 60%;
  position: relative;
  display: block;
  left: 10%;
  top: 100px;
  margin-bottom: 200px;
}
.post .post-cover {
  position: absolute;
  top: 0;
  left: 30%;
  width: 1200px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.85;
  animation-delay: 800ms;
  animation-duration: 800ms;
}
.else {
  position: relative;
  background: transparent;
  text-align: left;
  top: 20px;
  width: 1200px;
}
.else p {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  animation-delay: 800ms;
  animation-duration: 800ms;
}
.else p a {
  color: #ddd;
  transition: all 200ms ease-in-out;
  position: relative;
  font-weight: 900;
}
.else p a:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 65%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background: var(--secondary);
  opacity: 0.3;
}
.else p a:hover {
  color: var(--secondary);
}
.else p a:hover:after {
  top: 0;
}
.else > p {
  color: #7a7a8c;
  font-size: 14px;
  font-weight: 900;
  margin: 80px 0 0 0;
  animation-delay: 800ms;
  animation-duration: 800ms;
}
.else > p a {
  border: none;
  color: #fff;
}
.else > p a:after {
  display: none;
}
.else > p a:hover {
  border: none;
}
.else > p a b {
  color: var(--secondary);
}
.else h3.post-title {
  font-size: 56px;
  line-height: 1.1;
  margin: 10px 100px 0 0;
  letter-spacing: 1px;
  font-weight: 700;
  animation-delay: 600ms;
  animation-duration: 1s;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.else h3.post-title a {
  color: #fff;
}
.else .md-content {
  color: var(--night-font-color);
  margin: 10px 100px 10px 0;
  font-weight: 600;
  line-height: 1.8;
  width: 65%;
  animation-delay: 600ms;
  animation-duration: 2.6s;
}
.else .md-content blockquote {
  position: relative;
  color: #bdbdbd;
  background-color: rgba(32,28,41,0.75);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 2em;
  padding: 1rem 2rem 1rem 2rem;
}
.else .md-content blockquote:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: var(--secondary);
}
.else .md-content .cm-s-dracula.CodeMirror {
  background: rgba(32,28,41,0.75) !important;
}
.else .md-content .cm-s-dracula .CodeMirror-gutters,
.else .md-content .CodeMirror .CodeMirror-linenumber {
  background: #201c29 !important;
}
.else .md-content code {
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
  opacity: 0.9;
  margin: 0 0.3rem;
}
.else .md-content em {
  color: #5d5d5d;
}
.else .md-content ul {
  margin: 0 0 2rem 0;
  padding-inline-start: 0;
}
.else .md-content ul li {
  list-style: none;
  margin: 5px 0;
}
.else .md-content ul li:before {
  content: "•";
  margin: 0 1rem 0 0;
  color: var(--secondary);
}
.else .md-content ul li ol li {
  margin-left: 1em;
}
.else .md-content ol {
  margin: 0 0 2rem 0;
  padding-left: 20px;
  counter-reset: li;
  padding-inline-start: 0;
}
.else .md-content ol li {
  list-style: none;
  margin: 5px 0;
  counter-increment: li;
}
.else .md-content ol li:before {
  content: counter(li);
  color: var(--secondary);
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}
.else .md-content h1 a,
.else .md-content h2 a,
.else .md-content h3 a,
.else .md-content h4 a,
.else .md-content h5 a,
.else .md-content h6 a {
  color: var(--secondary);
  border-bottom: var(--secondary) 1px solid;
  transition: all 200ms ease-in-out;
}
.else .md-content h1 a:hover,
.else .md-content h2 a:hover,
.else .md-content h3 a:hover,
.else .md-content h4 a:hover,
.else .md-content h5 a:hover,
.else .md-content h6 a:hover {
  color: var(--primary);
  border-bottom: var(--primary) 1px solid;
}
.else .post-count {
  margin: 15px 100px 0 0;
  display: flex;
  align-content: flex-start;
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
  animation-delay: 800ms;
  animation-duration: 800ms;
}
.else .post-count span {
  line-height: 18px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #fff;
}
.else .post-count span i {
  margin-right: 5px;
  color: #7a7a8c;
  font-weight: 900;
  font-style: normal;
}
.else .post-count span b {
  font-size: 20px;
  color: #7a7a8c;
  margin-right: 5px;
}
.else .post-tags-list {
  margin: 10px 100px 0 0;
  animation-delay: 500ms;
  animation-duration: 750ms;
}
.else .post-tags-list-link {
  color: #9e9e9e;
}
.else .post-tags-list-item {
  animation-delay: 600ms;
  animation-duration: 1s;
  float: left;
  color: #7a7a8c;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.66rem;
  white-space: nowrap;
  border: 3px solid rgba(40,36,47,0.86);
  border-radius: 2rem;
  background: rgba(16,14,23,0.56);
}
.else .post-tags-list-item:hover {
  border: 3px solid rgba(255,255,255,0.78);
}
.else .post-tags-list-item:hover a {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
.else .post-tags-list-item a:hover {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
.md-content p {
  margin: 0 0 2em;
}
.md-content pre {
  margin: 0 0 2em;
}
.md-content blockquote {
  margin: 0 0 2em;
}
.md-content blockquote > p {
  margin: 0;
}
.md-content h1 {
  margin-top: 1em;
  margin-bottom: 0.8em;
}
.md-content h2 {
  margin-top: 1em;
  margin-bottom: 0.8em;
}
.md-content h3 {
  margin-top: 1em;
  margin-bottom: 0.8em;
}
.md-content h4 {
  margin-top: 1em;
  margin-bottom: 0.8em;
}
.md-content hr {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 30px 0 20px;
  border: 0;
  font-size: 28px;
  font-weight: 300;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border: none;
  text-align: center;
  color: var(--code-gradient-dark);
  position: relative;
}
.md-content hr:before {
  content: "...";
  line-height: 1.4;
  font-style: italic;
  text-indent: 0.6em;
  letter-spacing: 0.6em;
  position: absolute;
  top: 0;
}
.md-content .read-more {
  font-size: 1.2rem;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 200ms linear;
  position: relative;
}
.md-content .read-more a {
  color: #ddd;
  font-weight: 900;
}
.md-content .read-more a:hover {
  color: var(--secondary);
}
.md-content .read-more:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 65%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background: var(--secondary);
  opacity: 0.3;
}
.md-content .read-more:hover {
  color: var(--secondary);
}
.md-content .read-more:hover b {
  margin-left: 5px;
}
.md-content .read-more:hover:after {
  top: 0;
}
.md-content .read-more b {
  font-size: 1.3rem;
  font-weight: 700;
  transition: margin 200ms cubic-bezier(0, 0.8, 0.13, 1);
}
.post-tags-list {
  margin-top: 10px;
  display: table;
}
.post-tags-list-item {
  transition: all 400ms linear;
  float: left;
  color: #7a7a8c;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.66rem;
  white-space: nowrap;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  margin: 1rem 0.66rem 2.5rem 0;
  cursor: pointer;
}
.post-tags-list-item:hover {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
  border: 4px solid rgba(255,255,255,0.7);
}
.post-tags-list-link {
  color: #9e9e9e;
}
.content {
  display: block;
  animation-delay: 900ms;
  animation-duration: 3s;
  padding-bottom: 20px;
  color: #232323;
}
.content strong {
  font-weight: bold;
}
.content a {
  color: #ddd;
  transition: all 200ms ease-in-out;
  position: relative;
  font-weight: 900;
}
.content a:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 65%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background: var(--secondary);
  opacity: 0.3;
}
.content a:hover {
  color: var(--secondary);
}
.content a:hover:after {
  top: 0;
}
.content hr {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 0;
  font-size: 28px;
  font-weight: 300;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border: none;
  text-align: center;
  color: var(--code-gradient-dark);
}
.content hr:before {
  content: "...";
  line-height: 1.4;
  font-style: italic;
  text-indent: 0.6em;
  letter-spacing: 0.6em;
}
.content p {
  margin: 0 0 2em;
}
.content em {
  color: #9e9e9e;
}
.content ul {
  margin: 0 0 2rem 0;
}
.content ul li {
  list-style: none;
  margin: 5px 0;
}
.content ul li:before {
  content: "•";
  margin: 0 1rem 0 0;
  color: var(--dark);
}
.content ul li ol li {
  margin-left: 1em;
}
.content ol {
  margin: 0 0 2rem 0;
  padding-left: 20px;
  counter-reset: li;
}
.content ol li {
  list-style: none;
  margin: 5px 0;
  counter-increment: li;
}
.content ol li:before {
  content: counter(li);
  color: var(--dark);
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}
.content > h1 {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  color: #000;
}
.content > h1:first-child {
  margin-top: 0;
}
.content > h2 {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  color: #000;
}
.content > h2:first-child {
  margin-top: 0;
}
.content > h3 {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  color: #000;
}
.content > h3:first-child {
  margin-top: 0;
}
.content > h4 {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  color: #000;
}
.content > h4:first-child {
  margin-top: 0;
}
.content > h5 {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  color: #000;
}
.content > h5:first-child {
  margin-top: 0;
}
.content > h6 {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  color: #000;
}
.content > h6:first-child {
  margin-top: 0;
}
.content h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
  color: var(--secondary);
  -webkit-text-fill-color: initial !important;
  border-bottom: var(--dark) 1px solid;
  transition: all 200ms ease-in-out;
}
.content h1 a:hover,
.content h2 a:hover,
.content h3 a:hover,
.content h4 a:hover,
.content h5 a:hover,
.content h6 a:hover {
  color: var(--primary);
  -webkit-text-fill-color: var(--dark) !important;
  border-bottom: var(--dark) 1px solid;
}
.content img {
  cursor: pointer;
  border-radius: 8px;
}
.content .gutter {
  display: none;
}
.content .highlight .gutter pre {
  color: #666;
  font-size: 0.9rem;
  text-align: right;
  padding-right: 20px;
}
.content .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.content .highlight table {
  margin: 0;
  width: auto;
}
.content .highlight td {
  border: none;
  padding: 0;
}
.content .highlight tr {
  border: 0;
}
.content .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.content .highlight figcaption a {
  float: right;
}
.content .highlight .line {
  height: 20px;
}
.content blockquote {
  position: relative;
  padding: 1rem 2rem 1rem 2rem;
  color: #656565;
  background-color: rgba(119,119,119,0.05);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 0 2em;
}
.content blockquote:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: var(--dark);
}
.content blockquote p {
  margin: 0;
}
.content table {
  margin: 15px 0;
  border-collapse: collapse;
  display: table;
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}
.content table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.content table th {
  border: 1px solid #ddd;
  padding: 6px 13px;
}
.content table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}
.content .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.content .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
code {
  font-family: 'Rubik', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif !important;
  background: rgba(99,99,99,0.07);
  background: #b2fefa;
  background: -webkit-linear-gradient(to right, var(--code-gradient-light), var(--code-gradient-dark));
  background: linear-gradient(to right, var(--code-gradient-light), var(--code-gradient-dark));
  color: #000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 8px;
  opacity: 0.9;
}
pre {
  font-family: 'Rubik', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif !important;
  margin: 2em 0;
}
pre .comment {
  color: #999;
}
pre .title {
  color: #999;
  color: #f2777a;
}
pre .variable {
  color: #f2777a;
}
pre .attribute {
  color: #f2777a;
}
pre .tag {
  color: #f2777a;
}
pre .regexp {
  color: #f2777a;
}
pre .ruby .constant {
  color: #f2777a;
}
pre .ruby .class .title {
  color: #9c9;
}
pre .ruby .symbol {
  color: #9c9;
}
pre .ruby .function .title {
  color: #69c;
}
pre .ruby .title .keyword {
  color: #69c;
}
pre .xml .tag {
  color: #f2777a;
}
pre .xml .pi {
  color: #f2777a;
}
pre .xml .doctype {
  color: #f2777a;
}
pre .xml .cdata {
  color: #9c9;
}
pre .html .doctype {
  color: #f2777a;
}
pre .css .id {
  color: #f2777a;
}
pre .css .class {
  color: #f2777a;
}
pre .css .pseudo {
  color: #f2777a;
}
pre .css .rules .attribute {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .number {
  color: #f99157;
}
pre .preprocessor {
  color: #f99157;
}
pre .built_in {
  color: #f99157;
}
pre .literal {
  color: #f99157;
}
pre .params {
  color: #f99157;
}
pre .constant {
  color: #f99157;
}
pre .class {
  color: #9c9;
}
pre .string {
  color: #9c9;
}
pre .value {
  color: #9c9;
}
pre .inheritance {
  color: #9c9;
}
pre .header {
  color: #9c9;
}
pre .function {
  color: #69c;
}
pre .python .decorator {
  color: #69c;
}
pre .python .title {
  color: #69c;
}
pre .perl .sub {
  color: #69c;
}
pre .javascript .title {
  color: #69c;
}
pre .javascript .function {
  color: #c9c;
}
pre .coffeescript .title {
  color: #69c;
}
pre .keyword {
  color: #c9c;
}
.social-share .social-share-icon {
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  transition: all 400ms linear;
}
.animateIn {
  transform: translateY(0px);
}
.animateOut {
  transform: translateY(-100%);
}
.animateOut#top .share-component {
  margin-right: 10em;
  padding: 1em 0.8em;
  right: 55px;
  background: rgba(255,255,255,0.86);
  border: none;
  box-shadow: none;
}
.animateOut#top .social-share .social-share-icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
}
.gt-container a {
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .set {
    padding: 0;
  }
  .set h1 {
    text-align: center;
  }
  .set .category-list {
    justify-content: center;
  }
  .set .category-list-item .category-list-child {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  #header > div {
    width: 92%;
    margin-left: 4%;
  }
  #screen .cover {
    left: 20%;
    width: 80%;
    height: 60%;
  }
  #post0 {
    width: 92%;
    left: 4%;
  }
  #post0 h1 {
    font-size: 50px;
  }
  .share-component {
    margin-right: 5px;
    padding: 0.4em 0.8em;
    right: 0;
    background: rgba(16,14,23,0.86);
    border: none;
    box-shadow: none;
  }
  .animateOut#top .share-component {
    margin-right: 5px;
    padding: 0.4em 0.8em;
    right: 0;
    background: rgba(16,14,23,0.96);
    border: none;
    box-shadow: none;
  }
  .animateOut#top .social-share .social-share-icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
  }
  .here {
    left: 60px;
    bottom: 50px;
  }
  .article {
    padding: 2em 2rem;
  }
  .article > div {
    margin: 0;
  }
  .article .side {
    display: none;
  }
  .article .main {
    display: block;
    padding-top: 0;
    grid-gap: 2rem;
  }
  .article .main .sidebar {
    display: none;
  }
  .comment .gt-btn-public .gt-btn-text:after {
    content: "";
  }
  .post {
    width: 92%;
    left: 4%;
  }
  .post .post-cover {
    left: 20%;
    width: 80%;
    height: 60%;
    z-index: 0;
  }
  .else {
    top: 10px;
    width: 100%;
  }
  .else > p:first-child {
    font-size: 12px;
    margin: 50px 0 15px 0;
  }
  .else .post-title {
    font-size: 24px;
    margin: 10px 0 0 0;
  }
  .else .md-content {
    margin: 0;
  }
  .else .post-count {
    margin: 15px 0;
  }
  .else .post-tags-list {
    margin: 15px 0 0 0;
  }
  .else .post-tags-list .post-tags-list-item {
    margin: 0 10px 10px 0;
  }
  .else .read-more {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 45%;
  }
  .else .read-more a {
    font-size: 1.1rem;
    display: flex;
    line-height: 30px;
  }
  .else .read-more b {
    font-size: 1.2rem;
    display: flex;
    line-height: 30px;
    margin-left: 5px;
  }
  .screen-gradient-content {
    display: none;
  }
  .screen-gradient-after {
    border-bottom-right-radius: 0;
  }
  .article-header-wrapper {
    border-bottom-right-radius: 0;
  }
  .article-header-wrapper .else {
    padding: 0;
    width: 100%;
  }
  .article-header {
    width: 92%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: 4%;
  }
  .article-header .else .post-title a {
    font-size: 50px;
    line-height: 1.1;
    margin: 10px 100px 0 0;
  }
  .article-header .else .article-count {
    display: flex;
    align-content: flex-start;
    font-size: 12px;
    font-weight: 900;
    color: #999;
  }
  .article-header .else .article-count span {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .article-header .else .article-count span b {
    margin-right: 5px;
  }
}
@media screen and (max-width: 900px) {
  #mark {
    height: 100vh;
  }
  #header > div {
    width: 92%;
    margin: 0 4%;
  }
  #vibrant polygon {
    transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
  }
  #screen .cover {
    width: 100%;
    height: 350px;
    left: 0;
  }
  #post0 {
    top: 100px;
    width: 92%;
    left: 4%;
  }
  #post0 h1 {
    font-size: 24px;
  }
  #post0.else {
    padding: 0;
  }
  .here {
    position: static;
    margin: 20px 0 20px 20px;
  }
  .article {
    margin: 0;
    padding: 1rem;
  }
  .article .main {
    display: block;
    padding-top: 0;
    grid-gap: 2rem;
  }
  .article .sidebar {
    display: none;
  }
  .comment .gt-btn-public .gt-btn-text:after {
    content: "";
  }
  .screen-gradient-sponsor p {
    font-weight: 900;
    color: #fff;
    font-size: 12px;
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .post {
    width: 92%;
    left: 4%;
    padding-bottom: 30px;
    display: block;
    margin: 10px 0 0 0;
  }
  .post .post-cover {
    width: 100%;
    height: 350px;
    left: 0;
  }
  .post:first-of-type {
    margin-top: 0;
  }
  .else {
    height: auto;
    position: relative;
    width: 100%;
    background: transparent;
    border: none;
    padding: 0 0 100px 0;
    display: block;
  }
  .else .md-content {
    width: 100%;
  }
  .else .md-content > p {
    font-size: 14px;
  }
  .else .md-content > p:first-of-type {
    margin: 1em 0 2em 0;
  }
  .else h3.post-title {
    font-size: 24px;
    margin: 10px 30px 0 0;
  }
  .else .post-count {
    margin: 15px 30px 0 0;
  }
  .else .post-count i {
    display: none;
  }
  .screen-gradient-after {
    border-bottom-right-radius: 0;
  }
}
@media screen and (max-width: 780px) {
  .content {
    margin-top: 50px;
  }
  #header {
    padding-top: 30px;
  }
  #vibrant svg {
    display: none;
  }
  #vibrant div {
    opacity: 0.46;
  }
  #container {
    padding-bottom: 50px;
  }
  .text-menu {
    display: none;
  }
  .mu .icon-cross {
    display: block;
  }
  .icon-menu {
    display: block;
  }
  .menu {
    width: 80%;
    height: 100%;
    margin: 0;
    padding-top: 92px;
    flex-direction: column;
  }
  .menu li {
    font-size: 1.6rem;
  }
  #pager {
    margin: 30px 0 0;
  }
  h1.title {
    font-size: 24px;
  }
  .tab {
    display: none;
  }
  .icon-scan {
    display: none !important;
  }
  .icon-images {
    left: 80px;
  }
  .icon-pause {
    left: 50px;
  }
  .icon-home {
    left: 15px;
  }
  .icon-play {
    display: none;
  }
  .comment.link {
    width: 140px;
    padding: 5px 0;
  }
  .article .side {
    display: none;
  }
  .article-header .article-cover {
    width: 90%;
    height: 350px;
    top: 0;
  }
  .article-header .else .post-title {
    margin: 10px 0 10px 0;
    line-height: 30px;
  }
  .article-header .else .post-title a {
    font-size: 30px;
    margin: 0;
  }
  .comment .gt-btn-public .gt-btn-text:after {
    content: "";
  }
  #screen {
    border-bottom-right-radius: 0;
  }
  #mark {
    border-bottom-right-radius: 0;
  }
}
@media screen and (max-width: 480px) {
  #container:before {
    display: none;
  }
  #post0 h2 {
    text-align: left;
    margin: 0 10px 0 0;
  }
  #post0 h2 a {
    color: #fff;
  }
  #post0 .summary {
    display: block;
  }
  .stuff span {
    margin-right: 10px;
  }
  .stuff span:first-child {
    display: none;
  }
  .content table {
    font-size: smaller;
  }
  .content table tr td {
    padding: 6px;
  }
  .article .side {
    display: none;
  }
  .comment .gt-btn-public .gt-btn-text:after {
    content: "";
  }
}
@-moz-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
@-o-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
@-moz-keyframes GradientEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes GradientEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes GradientEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes GradientEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
